---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | FOZEU Tony" description="À propos de tony">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci d'avoir pris le temps de passer. Continuez à lire pour en saTout les projets sur moi-même et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/tonywork.jpg"
					alt="tony work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Titulaire d'un baccalauréat scientifique, j'ai évolué aux fils des années dans divers métiers de la technologie. Comme technicien, électronicien, chef de projet, développeur et formateur, j'ai pu acquérir une vaste expérience dans ce domaine.
					</p>
					<p>
						Ce qui me distingue le plus, c'est ma capacité à m'adapter à de nouveaux environnements, ainsi qu'à apprendre rapidement de nouvelles technologies et compétences..
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bac+3 en Génie électrique et systèmes intelligents.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétence</h2>
				<div class="content">
					<p>Autonome, Organisé, Curieux, Polyvalent, Créatif, Manageur, Travail d'équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
